
/* * { outline: 1px solid rgb(92, 7, 7)} */


body, html{
    background-image: url("../images/css-background.jpg");
    width: 100%;
    padding: 0;
    margin: 0;
    
}

#logo{
    display: block;
    margin-left: auto;
    margin-right:auto;
    height:151px;
    border-radius: 20%;
    margin-top:20px;
}


h1{
    width:100%;
    text-align: center;
    color: rgb(250, 220, 233);
    font-family: 'Merienda', cursive;
    font-size: 35px;
    text-shadow: 4px 4px 4px rgba(230, 19, 201, 0.822);
    padding-top:30px;
   
    
}
#le{
    width:100%;
    text-align: center;
    color: rgba(161, 240, 172, 0.979);
    font-family: 'Merienda', cursive;
    font-size: 35px;
    text-shadow: 4px 4px 4px rgba(230, 19, 201, 0.822);
    padding-top:30px;
}


#topic{
    width:100%;
    text-align: center;
    color: rgb(250, 220, 233);
    font-family: 'Merienda', cursive;
    font-size: 20px;
    text-shadow: 4px 4px 4px rgba(15, 255, 231, 0.803);
    
}

#topic a{
    text-decoration: none;
    width:100%;
    text-align: center;
    color: rgb(250, 220, 233);
    padding-bottom: 20px;
    font-family: 'Merienda', cursive;
    font-size: 20px;
    text-shadow: 4px 4px 4px rgba(15, 255, 231, 0.803);
}

#topic:hover{
    cursor: url(myBall.cur),auto;
    transform: scale(0.9);
    color: rgb(11, 94, 94);
    
}

.flex-container{
    text-align: center;
    display: block;
    margin-left: 0;
    margin-right:0;
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(67, 87, 198, 0.902), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: scale(1.2);
}

input, textarea {
    background-color : #f0b1e4;
    box-shadow: 0 8px 16px 0 rgba(67, 87, 198, 0.902), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#mapdiv{
    width: 100%;
   
}

/* .mapInput{
    display: block;
    width:30%;
} */

#map{
  
    width: 100%;
    height: 45%;
    border: 10px solid rgba(165, 20, 30, 0.342);
    box-shadow: 0 8px 16px 0 rgba(4, 55, 50, 0.646), 0 6px 20px 0 rgba(38, 67, 6, 0.797);
    margin-bottom: 20px;
    position: absolute;  

  
}



.results-container {
	display: flex;
	flex-wrap: wrap;
    margin-bottom: 30px;
    background-color: white;
    margin-top: 348px;
}

.result-container{
    /* margin: 0 0;  */
    width: 20%
    
}

.result { 
    width: 100%;  
    cursor: pointer; 
}

.result:hover{
    transform: scale(0.9);
}

section{
    flex-wrap: wrap;
}

.developers{
    
    text-align: center;
    margin: 15px;
  
}

.dev{
    color: rgba(146, 193, 198, 0.571);
    margin: 10px;
 
}

#devText, a{
    color: rgba(201, 208, 211, 0.516)
}

footer{
    width: 100%;
    background: #1f01197e;
    padding: 1px;
    bottom:0;
   
}



@media only screen and (min-width: 768px){

    

.container{
    width:100%;
} 

#logo{
    position: absolute;
    display: inline-block;
    height:151px;
    clear: both;
    margin-left: 122px;
    margin-top:16px;
  
   
      
  }
  
.flex-container{
    text-align: left;
    margin-left: 140px;
}
#topic a{
    text-align: center;
    color: rgb(250, 220, 233);
    padding-top: 10px;
    font-family: 'Merienda', cursive;
    font-size: 27px;
    text-shadow: 4px 4px 4px rgba(15, 255, 231, 0.803);
}

button{
    box-shadow: 0 8px 16px 0 rgba(67, 87, 198, 0.902), 0 6px 20px 0 rgba(0,0,0,0.19);  
    position: relative;
    left: 0;

}

input, textarea {
    background-color : #f0b1e4;
    box-shadow: 0 8px 16px 0 rgba(50, 71, 185, 0.774), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: auto;

}
form{
    position: relative;
    left: 0px; 
}

#map {
   
    width: 40%;
    height: 60%;
    border: 13px solid rgba(114, 24, 21, 0.397);
    box-shadow: 0 8px 16px 0 rgba(25, 138, 230, 0.658), 0 6px 20px 0 rgba(38, 67, 6, 0.797);
    margin-bottom: 60px;
    position: absolute;
    right: 140px;
    top: 190px;        
} 

.results-container {
	display: flex;
	flex-wrap: wrap;
    margin-bottom: 30px;
    background-color: white;
    margin-top:20px;   
}

footer{
    width: 100%;
    background: #3f06323d;
    padding: 1px;
    bottom:0;
    
  
}


}
